body{
    background-color: darkgray;
}
h1, h5{
    color: blueviolet;
}
.jumbotron{
    background-color: darkcyan;
    color: black;
    text-align: center;
    margin-top: 40px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: goldenrod;
    margin-bottom: 0;
    margin-top: 70px;
}
.card-pelis{
    flex: 1 150px;

    margin-top: 10px;
}
.btn-caratula{
    width: 100%;
    background-color: chocolate;
    border: none;
}
.footer-address-icon {
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
