$goldenrod: #daa520;
$verd: #008000;
$roj: #ff0000;
$amari: #ffff00;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.verde{
    color: $verd;
  }
  .rojo{
    color: $roj;
  }
  .amarillo{
    color: $amari;
  }
body{
    background-color: darkgray;
}
h1, h5{
    color: blueviolet;
}
.jumbotron{
    background-color: darkcyan;
    color: black;
    text-align: center;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: #daa520;
    @include margenes(10px, 0px);
}
.card-pelis{
    flex: 1 150px;
    @include margenes(10px, 0px);
}
.btn-caratula{
    width: 100%;
    background-color: chocolate;
    border: none;
}
.footer-address-icon {
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}