@goldenrod: #daa520;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

body {
    background-color: darkgray; }
  
  h1, h5 {
    color: blueviolet; }
  
  .jumbotron {
    background-color: darkcyan;
    color: black;
    text-align: center;
    .margenes(50px, 0px);}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @goldenrod;
    .margenes(10px, 0px);}
  
  .card-pelis {
    flex: 1 150px;
    .margenes(10px, 0px);}
  
  .btn-caratula {
    width: 100%;
    background-color: chocolate;
    border: none; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  