.verde {
  color: #008000; }

.rojo {
  color: #ff0000; }

.amarillo {
  color: #ffff00; }

body {
  background-color: darkgray; }

h1, h5 {
  color: blueviolet; }

.jumbotron {
  background-color: darkcyan;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #daa520;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-pelis {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-caratula {
  width: 100%;
  background-color: chocolate;
  border: none; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

/*# sourceMappingURL=styles.css.map */
